/* src/components/AboutRedesign/AboutRedesign.module.scss */
$primary: #7a53cc;
$bg: #f9f9f9;
$text: #333;

.aboutSection {
margin-top: 15rem;
  padding: 4rem 2rem;
  text-align: center;
  height: 100vh;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: $primary;
}

.featureTabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tab {
  background: none;
  border: 2px solid $primary;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  color: $primary;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.tabActive,
.tab:hover {
  background: $primary;
  color: #fff;
}

.featureContent {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.125rem;
  color: $text;
  line-height: 1.6;
}
.photoBox {
  margin: 0 auto 2rem;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  .photoImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}